In [1]:
import pandas as pd

In [2]:
dfs = []

for i in range(15, 20):
    dfs.append(pd.read_csv(f'/Users/ashfaq/Documents/CallGraph_{i}.csv', on_bad_lines='skip'))
    
combined_df = pd.concat(dfs, axis=0)

In [3]:
combined_df

,timestamp,traceid,service,rpc_id,rpctype,um,uminstanceid,interface,dm,dminstanceid,rt
0,2762003,T_17215484994,S_24282040,0,http,USER,USER,yyeYb2GjKb,MS_41385,MS_41385_POD_778,22.0
1,2746700,T_5609107797,S_12773374,0.1.1,http,UNKNOWN,UNAVAILABLE,5cajw6w4ly,MS_41766,MS_41766_POD_127,1.0
2,2843715,T_5609095082,S_104419129,0.1.2.14,mc,MS_4660,MS_4660_POD_3206,0REcWWf5yJ,MS_46825,MS_46825_POD_525,0.0
3,2843715,T_5609095082,S_104419129,0.1.2.18,mc,MS_4660,MS_4660_POD_3206,27LLHBLtvK,MS_46825,MS_46825_POD_525,0.0
4,2843714,T_5609095082,S_104419129,0.1.2.12,mc,MS_4660,MS_4660_POD_3206,0REcWWf5yJ,MS_46825,MS_46825_POD_472,1.0
...,...,...,...,...,...,...,...,...,...,...,...
11856443,3424370,T_3151303869,S_78126003,0.1,http,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,NaN
11856444,3424370,T_3151303869,S_46341282,0.1,http,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,NaN
11856445,3424373,T_3151303869,S_78126003,0.1.4,mc,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,NaN
11856446,3424373,T_3151303869,S_46341282,0.1.4,mc,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,NaN
11856447,3424372,T_3151303869,S_46341282,0.1.3,mc,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,UNAVAILABLE,NaN

In [4]:
filtered_df = combined_df[(combined_df['um'] != 'UNKNOWN') & (combined_df['um'] != 'UNAVAILABLE') & 
                 (combined_df['dm'] != 'UNKNOWN') & (combined_df['dm'] != 'UNAVAILABLE')]

In [5]:
df = filtered_df[['timestamp', 'traceid', 'rpc_id', 'um', 'dm']]

In [6]:
df['rpc_id_parts'] = df['rpc_id'].str.split('.').apply(lambda x: [int(part) for part in x])

/var/folders/4p/l36n5pc50sjbjc2ty8x_wsnw0000gn/T/ipykernel_55807/1447768535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rpc_id_parts'] = df['rpc_id'].str.split('.').apply(lambda x: [int(part) for part in x])

In [7]:
from sklearn.preprocessing import LabelEncoder

um_encoder = LabelEncoder()
dm_encoder = LabelEncoder()

df['um_encoded'] = um_encoder.fit_transform(df['um'])
df['dm_encoded'] = um_encoder.fit_transform(df['dm'])

/var/folders/4p/l36n5pc50sjbjc2ty8x_wsnw0000gn/T/ipykernel_55807/342505127.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['um_encoded'] = um_encoder.fit_transform(df['um'])
/var/folders/4p/l36n5pc50sjbjc2ty8x_wsnw0000gn/T/ipykernel_55807/342505127.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dm_encoded'] = um_encoder.fit_transform(df['dm'])

In [8]:
df

,timestamp,traceid,rpc_id,um,dm,rpc_id_parts,um_encoded,dm_encoded
0,2762003,T_17215484994,0,USER,MS_41385,[0],14821,10837
2,2843715,T_5609095082,0.1.2.14,MS_4660,MS_46825,"[0, 1, 2, 14]",8263,12725
3,2843715,T_5609095082,0.1.2.18,MS_4660,MS_46825,"[0, 1, 2, 18]",8263,12725
4,2843714,T_5609095082,0.1.2.12,MS_4660,MS_46825,"[0, 1, 2, 12]",8263,12725
5,2843716,T_5609095082,0.1.2.24.4,MS_4660,MS_55085,"[0, 1, 2, 24, 4]",8263,15534
...,...,...,...,...,...,...,...,...
11856432,3422246,T_3151307537,0,USER,MS_41385,[0],14821,10837
11856433,3424370,T_3151303869,0.1.1,MS_27237,MS_2827,"[0, 1, 1]",3952,6385
11856434,3424370,T_3151303869,0.1.1,MS_27237,MS_2827,"[0, 1, 1]",3952,6385
11856435,3424370,T_3151303869,0.1.1,MS_27237,MS_2827,"[0, 1, 1]",3952,6385
11856436,3424370,T_3151303869,0.1.1,MS_27237,MS_2827,"[0, 1, 1]",3952,6385

In [9]:
sorted_groups_dict = {
    trace_id: group.sort_values(by='rpc_id_parts')[['timestamp', 'traceid', 'rpc_id', 'um', 'dm', 'um_encoded', 'dm_encoded']].values.tolist()
    for trace_id, group in df.groupby('traceid')
}

In [19]:
lens = [len(grp) for grp in sorted_groups_dict.values()]

In [21]:
sorted_groups_dict[list(sorted_groups_dict.keys())[10]]

[[3022975, 'T_1000002895', '0', 'USER', 'MS_51863', 14821, 14452],
 [3022975, 'T_1000002895', '0.1', 'MS_51863', 'MS_28050', 9402, 6304],
 [3022975, 'T_1000002895', '0.1', 'MS_51863', 'MS_28050', 9402, 6304],
 [3022975, 'T_1000002895', '0.1.1', 'MS_28050', 'MS_63512', 4130, 18372],
 [3022976, 'T_1000002895', '0.1.1.1', 'MS_28050', 'MS_63512', 4130, 18372],
 [3022976, 'T_1000002895', '0.2', 'MS_51863', 'MS_63512', 9402, 18372]]

In [18]:
import numpy as np

sorted_groups_dict[list(sorted_groups_dict.keys())[4]]

[[2898096, 'T_10000014148', '0.1.1.1', 'MS_745', 'MS_65689', 14244, 19112]]