In [1]:
import pandas as pd

In [2]:
dfs = []

for i in range(15, 20):
    dfs.append(pd.read_csv('/Users/ashfaq/Documents/CallGraph_15.csv', on_bad_lines='skip'))
    
combined_df = pd.concat(dfs, axis=0)

In [11]:
combined_df

,timestamp,traceid,service,rpc_id,rpctype,um,uminstanceid,interface,dm,dminstanceid,rt
0,2762003,T_17215484994,S_24282040,0,http,USER,USER,yyeYb2GjKb,MS_41385,MS_41385_POD_778,22.0
1,2746700,T_5609107797,S_12773374,0.1.1,http,UNKNOWN,UNAVAILABLE,5cajw6w4ly,MS_41766,MS_41766_POD_127,1.0
2,2843715,T_5609095082,S_104419129,0.1.2.14,mc,MS_4660,MS_4660_POD_3206,0REcWWf5yJ,MS_46825,MS_46825_POD_525,0.0
3,2843715,T_5609095082,S_104419129,0.1.2.18,mc,MS_4660,MS_4660_POD_3206,27LLHBLtvK,MS_46825,MS_46825_POD_525,0.0
4,2843714,T_5609095082,S_104419129,0.1.2.12,mc,MS_4660,MS_4660_POD_3206,0REcWWf5yJ,MS_46825,MS_46825_POD_472,1.0
...,...,...,...,...,...,...,...,...,...,...,...
13553602,2788556,T_19740776011,S_101513166,0.1,http,UNKNOWN,UNAVAILABLE,BJXRcwDPgy,MS_67915,MS_67915_POD_344,2.0
13553603,2754468,T_19740773958,S_134358585,0.1.1,http,UNKNOWN,UNAVAILABLE,s1PXNG3RqB,MS_17720,MS_17720_POD_28,0.0
13553604,2808606,T_19740760899,S_20083159,0.1,rpc,MS_2842,MS_2842_POD_88,wKKLh3fJyE,MS_49817,MS_49817_POD_73,2.0
13553605,2808606,T_19740760899,S_20083159,0.1,rpc,MS_2842,MS_2842_POD_88,wKKLh3fJyE,MS_49817,MS_49817_POD_73,1.0
13553606,2808656,T_19740760899,S_20083159,0.5.1.3350132160.1,mc,MS_69708,MS_69708_POD_287,syokE4MjX6,MS_28617,MS_28617_POD_243,1.0

In [3]:
filtered_df = combined_df[(combined_df['um'] != 'UNKNOWN') & (combined_df['um'] != 'UNAVAILABLE') & 
                 (combined_df['dm'] != 'UNKNOWN') & (combined_df['dm'] != 'UNAVAILABLE')]

In [4]:
df = filtered_df[['timestamp', 'traceid', 'rpc_id', 'um', 'dm']]

In [5]:
df['rpc_id_parts'] = df['rpc_id'].str.split('.').apply(lambda x: [int(part) for part in x])

/var/folders/4p/l36n5pc50sjbjc2ty8x_wsnw0000gn/T/ipykernel_54808/1447768535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rpc_id_parts'] = df['rpc_id'].str.split('.').apply(lambda x: [int(part) for part in x])

In [6]:
from sklearn.preprocessing import LabelEncoder

um_encoder = LabelEncoder()
dm_encoder = LabelEncoder()

df['um_encoded'] = um_encoder.fit_transform(df['um'])
df['dm_encoded'] = um_encoder.fit_transform(df['dm'])

/var/folders/4p/l36n5pc50sjbjc2ty8x_wsnw0000gn/T/ipykernel_54808/342505127.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['um_encoded'] = um_encoder.fit_transform(df['um'])
/var/folders/4p/l36n5pc50sjbjc2ty8x_wsnw0000gn/T/ipykernel_54808/342505127.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dm_encoded'] = um_encoder.fit_transform(df['dm'])

In [7]:
df

,timestamp,traceid,rpc_id,um,dm,rpc_id_parts,um_encoded,dm_encoded
0,2762003,T_17215484994,0,USER,MS_41385,[0],9809,7193
2,2843715,T_5609095082,0.1.2.14,MS_4660,MS_46825,"[0, 1, 2, 14]",5449,8436
3,2843715,T_5609095082,0.1.2.18,MS_4660,MS_46825,"[0, 1, 2, 18]",5449,8436
4,2843714,T_5609095082,0.1.2.12,MS_4660,MS_46825,"[0, 1, 2, 12]",5449,8436
5,2843716,T_5609095082,0.1.2.24.4,MS_4660,MS_55085,"[0, 1, 2, 24, 4]",5449,10343
...,...,...,...,...,...,...,...,...
13553600,2807605,T_19740788637,0.1.1,MS_67915,MS_53745,"[0, 1, 1]",8554,10047
13553601,2788556,T_19740776011,0.1.1,MS_67915,MS_29680,"[0, 1, 1]",8554,4545
13553604,2808606,T_19740760899,0.1,MS_2842,MS_49817,"[0, 1]",2779,9130
13553605,2808606,T_19740760899,0.1,MS_2842,MS_49817,"[0, 1]",2779,9130
13553606,2808656,T_19740760899,0.5.1.3350132160.1,MS_69708,MS_28617,"[0, 5, 1, 3350132160, 1]",8827,4310

In [8]:
sorted_groups_dict = {
    trace_id: group.sort_values(by='rpc_id_parts')[['timestamp', 'traceid', 'rpc_id', 'um', 'dm', 'um_encoded', 'dm_encoded']].values.tolist()
    for trace_id, group in df.groupby('traceid')
}

In [29]:
def dedup_group(group):
    seen = set()
    deduplicated_data = []
    for row in group:
        key = (row[0], row[1], row[2], row[3], row[4])
        if key not in seen:
            seen.add(key)
            deduplicated_data.append(row)
            
    return deduplicated_data

In [30]:
dedup_grouped_data = {trace_id: dedup_group(group) for trace_id, group in sorted_groups_dict.items()}

In [31]:
lens = [len(grp) for grp in dedup_grouped_data.values()]

In [32]:
import numpy as np

dedup_grouped_data[list(dedup_grouped_data.keys())[9]]

[[2787397, 'T_10000260064', '0', 'USER', 'MS_3351', 9809, 5411],
 [2787410, 'T_10000260064', '0.1.1', 'MS_745', 'MS_18951', 9400, 2056],
 [2787475, 'T_10000260064', '0.1.1.1.1.3', 'MS_4159', 'MS_17511', 4692, 1713],
 [2787478, 'T_10000260064', '0.1.1.1.1.4', 'MS_4159', 'MS_59270', 4692, 11318],
 [2787481, 'T_10000260064', '0.1.1.1.1.5', 'MS_4159', 'MS_12212', 4692, 504]]